	<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>Dashboard</servlet-name>
		<display-name>Dashboard</display-name>
		<description></description>
		<servlet-class>fr.excilys.servlet.Dashboard</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddComputer</servlet-name>
		<display-name>AddComputer</display-name>
		<description></description>
		<servlet-class>fr.excilys.servlet.AddComputer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditComputer</servlet-name>
		<display-name>EditComputer</display-name>
		<description></description>
		<servlet-class>fr.excilys.servlet.EditComputer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListCompany</servlet-name>
		<display-name>ListCompany</display-name>
		<description></description>
		<servlet-class>fr.excilys.servlet.ListCompany</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Dashboard</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddComputer</servlet-name>
		<url-pattern>/addcomputer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditComputer</servlet-name>
		<url-pattern>/editComputer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListCompany</servlet-name>
		<url-pattern>/ListCompany</url-pattern>
	</servlet-mapping>
</web-app>
